:root {
    --primary-color: #2563eb;
    --secondary-color: #f72585;
    --bg-color: #f1f1f1;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;

}


.header {
    background-color: var(--bg-color);
    padding: 1rem;
    text-align: center;

    color: var(--primary-color);

    font-size: 2.5rem;
    font-weight: 700;

    grid-column: 1 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.header svg {
    fill: var(--primary-color);
    width: 3.5rem;
    height: 3.5rem;
}

.projects .section-name,
.todos .section-name {
    font-weight: 600;
    font-size: 1.2rem;
}

#add-todo-button,
#add-project-button {
    font-weight: 600;
    color: var(--primary-color);
    background-color: white;
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#add-todo-button:hover,
#add-project-button:hover {
    background-color: var(--bg-color);
}

.projects button svg,
.todos button svg {
    fill: var(--primary-color);
    width: 1.5rem;
    height: 1.5rem;
}

.projects {
    background-color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-right: 2px solid var(--bg-color);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projects .project-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.projects .project-list .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.projects .project-list .project svg {
    /* display: none; */
    visibility: hidden;
    fill: black;
    width: 1rem;
    height: 1rem;
}

.projects .project-list .project svg:hover {
    fill: var(--primary-color);
}

.projects .project-list .project:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.projects .project-list .project:hover svg {
    /* display: block; */
    visibility: visible;
}

.project.current-selected {
    background-color: var(--bg-color);
}

.todos {
    padding: 0.5rem 1rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.todo-list .task {
    padding:0 0.5rem;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.todo-list .task:hover {
    background-color: var(--bg-color);
    cursor: pointer;
}

.todo-list .task .action {
    display: flex;
    gap: 0.5rem;

    justify-content: flex-end;
    align-items: center;
}

.todo-list .task:hover svg {
    /* display: block; */
    visibility: visible;
}

.todo-list .task svg {
    /* display: none; */
    visibility: hidden;
    fill: black;
    width: 1rem;
    height: 1rem;
}

.todo-list .task svg:hover {
    fill: var(--primary-color);
}

.todo-list .task .date {
    font-size: 0.8rem;
    color: #666;

}

.todo-list .task .date.past-due {
    color: #dd0505;
}



.todo-list .task.high {
    border-left: 5px solid #ff0000;
}

.todo-list .task.medium {
    border-left: 5px solid #ff9900;
}

.todo-list .task.low {
    border-left: 5px solid #00ff00;
}





